<h2>Edit:</h2>

<div>
  <label>Enter New Title:</label>
  <input [(ngModel)] = "this.currentPost.title" #editPostTitle>
</div>
<div>
  <label>New Content:</label>
  <input [(ngModel)] = "this.currentPost.content" #editPostContent>
</div>
<div>
  <label>New Category:</label>
  <select #editPostCategory>
    <option value='sportsPost'>Sports</option>
    <option value='cookingPost'>Cooking</option>
  </select>
  <br>
  <button (click)="submitForm(editPostTitle.value, editPostContent.value, editPostCategory.value)">Edit</button>
</div>
